* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family:  'Play', sans-serif, 'Arial';
    background-color: grey;
}

header {
	background-image: url(header/black_background_.png);
	height: 300px;
	padding-top: 30px;
	padding-left: 50px;
}
/* horizontal navigation*/
nav {
	height: 50px;
	background-color: #555555;
}

ul {
  list-style: none;
  margin: 0; 
  padding-left: 0;
  margin-left: 200px;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: white;
 }


li {
  float:left;
  margin-right:10px;
  height: 50px;
  padding-top: 8px;

}

li :hover {
	color: black;
	height: 50px;
	padding-top: 8px;*/
}
/* horizontal navigation*/


img {
    width: 700px;
}


h2 {
	color: #2f2239;
	margin: 20px;
}

h2:hover {
	color: white;
	margin-top: 20px;
	
}

h1 {
	color: white;
	font-size: 100px;
}

main {
	margin-left: 100px;
}

img {
	margin-left: 100px;
}

.bottom {
	background-image: url(header/black_background_.png);
	height: 100px;
	color: white;
	padding-top: 25px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}